{
  "presets": [
    [ "es2015", { "modules": false } ]
  ],
  "plugins": [ "transform-runtime" ],
  "comments": false,
  "env": {
    "test": {
      "presets": [ "env" ],
      "plugins": [ "istanbul" ]
    },
    "production": {
      "presets": [ "env" ],
      "plugins": [ "istanbul" ]
    }
  }
}
