html, body {
  background: transparent;
  color: white;
  margin: 0px;
  padding: 0px;
  text-shadow: 2px 2px 5px #000000;
}

.hud-widget {
}

#time-widget {
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: 200px;
  font-size: 12pt;
  text-align: right;
}

#screen-size-widget {
	position: absolute;
	top: 1em;
	right: 1em;
	width: 200px;
	font-size: 20pt;
  text-align: right;
}

#fullscreen-widget,
#wireframe-outline-widget {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40pt;
}
