html, body {
  background: transparent;
  color: white;
  margin: 0px;
  padding: 0px;
  text-shadow: 2px 2px 5px #000000;
}

#screen-size-widget {
	position: absolute;
	top: 1em;
	right: 1em;
	width: 200px;
	font-size: 20pt;
}
